
@font-face {
  font-family: HelveticaUltra;
  src: url('../public/fonts/HelveticaUltraLt_0.ttf');
}

@font-face {
  font-family: HelveticaCondensed;
  src: url('../public/fonts/ps.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../public/fonts/Roboto-Regular_0.ttf');
}

@font-face {
  font-family: RobotoLight;
  src: url('../public/fonts/Roboto-Light_0.ttf');
}

h1{
  font-family: 'Helvetica 25 UltraLight', HelveticaUltra, sans-serif;
}

h3{
  font-family: 'Helvetica 25 UltraLight', HelveticaUltra, sans-serif;
} 

label{
  font-family: Roboto;
}

a {
  font-family: Roboto;
}

* {
  box-sizing: border-box;
}

header{
  background-image: url("/img/index-image.jpg"); 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;
}

input{
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #fff !important;
  border-radius: 0px !important;
  font-family: HelveticaCondensed;
  color: #fff !important;
}

footer{
  background-image: url("/img/rodape-desktop.jpg"); 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto;
  color: #fff;
}

button{
  background-color: #012d51 !important;
  font-family: 'Helvetica 25 UltraLight', HelveticaUltra, sans-serif;
  font-size: 25;
  color: #29abe2 !important;
  border-radius: 0 !important;
}

table{
  font-family: RobotoLight;
}

th{
  font-family: Roboto;
  color: #012d51;
}

td, th{
  border: 1px solid #29abe2;
  border-collapse: collapse;
}

thead, tbody{
  border: none !important;
}

td:first-child, th:first-child {
  border-left: none;
}

th{
  border-top: none;
}

td:last-child, th:last-child {
  border-right: none;
}

tr:last-child td{
  border-bottom: none;
 }

td{
  font-family: HelveticaCondensed;
}